<h3>Hello {{name}} !!!</h3>

<br>
<br>

<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Contact</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each complaints}}
        <tr>
            <td>{{_id}}</td>          
            <td>{{name}}</td>
            <td>{{contact}}</td>
            <td>{{desc}}</td>
            <td>
              <form method="post" action="/assignEng">
                    <!-- Add a hidden input field to store the _id -->
                    <input type="hidden" name="complaintID" value="{{_id}}">
                    <button type="submit" class="btn btn-success btn-block">Open</button>
                </form>
            </td>
        </tr>
    {{/each}}
    
  </tbody>
</table>

