<h2>Welcome to Complaint Management System</h2>
<br>
<h3>Hello {{name}} !!!</h3>

<br>
<br>
<a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>

<br>
<br>
<br>
<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Contact</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Image</th> <!-- New column for the image -->
    </tr>
  </thead>
  <tbody>
    {{#each complaints}}
        <tr>
            <td>{{_id}}</td>          
            <td>{{name}}</td>
            <td>{{contact}}</td>
            <td>{{desc}}</td>
            <td>
                <form method="post" action="{{#if (eq status 'Completed')}}/completed{{else if (eq status 'Unassigned')}}/unassigned{{else if (eq status 'Assigned')}}/assigned{{else}}/assigned{{/if}}">
                    <input type="hidden" name="complaintID" value="{{_id}}">
                    {{#if (eq status 'Unassigned')}}
                    <button type="submit" class="btn btn-info btn-block">Unassigned</button>
                    {{else if (eq status 'Assigned')}}
                    <button type="submit" class="btn btn-info btn-block">Assigned</button>
                    {{else if (eq status 'In Progress')}}
                    <button type="submit" class="btn btn-warning btn-block in-progress-btn">In Progress</button>
                    {{!-- {{else if (eq status 'In Progress')}}
                    <button type="button" class="btn btn-warning btn-block in-progress-btn" data-toggle="modal" data-target="#exampleModal" data-complaint-id="{{_id}}">In Progress</button> --}}
                    {{else if (eq status 'Completed')}}
                    <button type="button" class="btn btn-success btn-block" disabled>Completed</button>
                    {{/if}}
                </form>
            </td>
             <td>
    <button type="button" class="btn btn-primary btn-view-image" data-toggle="modal" data-target="#imageModal{{_id}}">View Image</button>
</td>

<!-- Modal for each image -->
<div class="modal fade" id="imageModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel{{_id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel{{_id}}">Complaint Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="/uploads/{{img}}" alt="Complaint Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
        </tr>
    {{/each}}
    
  </tbody>
</table>

<!-- JavaScript code -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('.btn-view-image').click(function() {
            var complaintId = $(this).data('complaint-id');
            $('#imageModal' + complaintId).modal('show');
        });
    });
</script>

